@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;

    font-family: 'Poppins', sans-serif;
    
    

}
body{
    background-color: white;

}
@media (min-width: 300px) and (max-width:768px){
    .container1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 300px) and (max-width:768px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
.container{
    margin: 2px;
    padding: 10px;
    background-color: rgb(168, 94, 237);
    color: white;
    text-align: center;
   
   
}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.container2{
    display: flex;
    justify-content: center;
    align-items:top;
    
    margin: 70px 350px;
    /* width: 10px; */
    box-sizing: border-box;
    background-color: rgb(223, 235, 226);
    /* height: 40vh; */
    border-radius: 25px;
    width: 100%;
    max-width: 500px;
    height: 63px;
    padding: 10px;

    
    ;

    
}
@media (min-width: 300px) and (max-width:768px){
    .container2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 15px;
        width: 300px;
    }
}
@media (min-width: 300px) and (max-width:768px){
    .container1{
        display: flex;
        align-items: center;
        justify-content: center;
       

       
    }
}
#plusid{
    background-color:rgb(168, 94, 237) ;
    color: white;
    margin-top: 10px;
    margin-left: 10px ;
    padding: 5px 7px;
    width: 47px;
    height: 32px;
    box-shadow: 1px;
    border-radius: 8px;
    cursor: pointer;
}
.plus:hover{
    background-color: rgb(179, 130, 224);

}
.container2 input{
    border: 1px solid black;
    width: 204px;
     height: 31px;
     background: transparent;
     border-radius: 8px;
     margin-top: 10px;
     font-size: 15px;
    
}
.todo{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
   align-items: center;
    width: 100%;
    max-width: 613px;
    
    
}
.todo li{
    list-style: none;
    cursor: pointer;
    border: 0.124px solid grey;
    padding: 6px 12px;
    margin-block-end:12px ;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: backgound-color 0.5s;
}
.todo li p{
    flex-grow: 1;
}
.btn{
    border: none;
    outline: none;
    font-size: 15px;
    background: none;
    cursor: pointer;
    padding: 6px;
    color: red;
}
.btn1{
    border: none;
    outline: none;
    font-size: 15px;
    background: none;
    cursor: pointer;
    padding: 6px;
    color: darkgreen;
}
.todo li:hover{
    background-color: rgb(237, 228, 228);
}

